*{
  padding: 0;
  margin: 0;
}

.project-page{
  background-image: url('../../assets/header-bkg.png');
  }

 .slogan {
  font-size: 45px;

 }
 .open-part1{
  font-size: 20px;
 } 
.passage-block{

  margin: 30px auto;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 30px;

  
}

.projects-container{
  width: 90%;
  margin:0 auto;
}
  
.workGroup1 {
  display:none;
}
.workGroup2 {
  display:block;

}
/* project boxes */

.yellowBox {
  width:30%;
  float:left;
  margin-left: 3%;
  margin-bottom: 3%;
  background-color:#e1e4b3;
  text-align:center;
  letter-spacing:3px;
  color:#778472;
  padding:55px 0px 25px 0px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  font-weight:700;
  line-height:16px;
  border-radius: 4px;
}
.yellowBox img {
  width:94%;
  max-width:250px;
  margin-bottom:25px;
  margin-top: -10px;
  border:3px solid white;
}

.ltGreenBox {
  width:30%;
  float:left;
  margin-left: 3%;
  margin-bottom: 3%;
  background-color:#bdcbb6;
  text-align:center;
  letter-spacing:3px;
  color:#ffffff;
  padding:55px 0px 25px 0px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  font-weight:700;
  line-height:16px;
  border-radius: 4px;
}
.ltGreenBox img {
  width:94%;
  max-width:250px;
  margin-bottom:25px;
  margin-top: -10px;
  border:3px solid white;
}
.dkGreenBox {
  background-color:#778472;
  width:30%;
  float:left;
  margin-left: 3%;
  margin-bottom: 3%;
  text-align:center;
  letter-spacing:3px;
  color:#ffffff;
  padding:55px 0px 25px 0px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  font-weight:700;
  line-height:16px;
  border-radius: 4px;
}
.dkGreenBox img {
  width:94%;
  max-width:250px;
  margin-bottom:25px;
  margin-top: -10px;
  border:3px solid white;
}

.dkOrangeBox {
  background-color:#813107;
  width:30%;
  float:left;
  margin-left: 3%;
  margin-bottom: 3%;
  text-align:center;
  letter-spacing:3px;
  color:#ffffff;
  padding:55px 0px 25px 0px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  font-weight:700;
  line-height:16px;
  border-radius: 4px;
}
.dkOrangeBox img {
  width:94%;
  max-width:250px;
  margin-bottom:25px;
  margin-top: -10px;
  border:3px solid white;
}
.ltOrangeBox {
  background-color:#F7882F;
  width:30%;
  float:left;
  margin-left: 3%;
  margin-bottom: 3%;
  text-align:center;
  letter-spacing:3px;
  color:#ffffff;
  padding:55px 0px 25px 0px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  font-weight:700;
  line-height:16px;
  border-radius: 4px;
}
.ltOrangeBox img {
  width:94%;
  max-width:250px;
  margin-bottom:25px;
  margin-top: -10px;
  border:3px solid white;
}

.boxesInfo {
  font-size:15px;
  font-style:italic;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  letter-spacing:0px;
  padding:2px 50px 0px 50px;
  line-height:15px;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.view-more{ 
  margin-bottom: 50px;
  text-align: center;
}

#inline_content {
   
  background:#fff;
  font-size:20px;
  color:gray;
  font-weight:100;
  letter-spacing:0px;
  padding:2px 10px 0px 10px;
  line-height:15px;
  
}
.POPUP{
  display: none;
}
.popUpLeft {
  width:57%;
  float:left;
  margin-right:5%;
}
.popUpLeft img {
  width:100%;
  margin-top: 40px;
}
.popUpRight {
  width:38%;
  float:right;
}
.popUpFull img {
  width:100%;
  max-width:850px;
  text-align:center;
}
.popUpTitle {
  color:#d76713;
  font-size:32px;
  line-height:35px;
  margin-bottom:10px;
}
.popUpBtn {
  background-color:#bdcbb6;
  color:#ffffff;
  text-align:center;
  font-size:16px;
  font-weight:500;
  letter-spacing:2px;
  text-transform:uppercase;
  padding:10px 5% 10px 5%;
  width:90%;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.popUpBtn:hover {
  background-color:#778472;
  cursor:pointer;
}
.popUpRight a:link, .popUpFull a:link {color: #ffffff; text-decoration:none;}
.popUpRight a:visited, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:hover, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:active, .popUpFull a:visited {color: #ffffff; text-decoration:none;}

.popUpTech {
  font-size:20px;
  font-weight:400;
  letter-spacing:1px;
  padding:4px;
  background-color:#EEEFE5;
  margin-bottom:10px;
  text-align:center;
}

.space {
  width:100%;
  margin-top: 20px;
  clear:both;
}


@media screen and (max-width: 950px){
.yellowBox {
  height:240px;
  font-size:15px;
}

.boxesInfo {
  font-size:15px;
}

.yellowBox img {
  width:90%;
  margin-bottom:15px;
  margin-top: -20px;
}

.ltGreenBox {
  height:240px;
  font-size:15px;
}

.ltGreenBox img {
  width:90%;
  margin-bottom:15px;
  margin-top: -20px;
}

.ltOrangeBox {
  height:240px;
  font-size:15px;
}

.ltOrangeBox img {
  width:90%;
  margin-bottom:15px;
  margin-top: -20px;
}

}


@media screen and (max-width: 750px){
.yellowBox {
  width:45%;
  height:250px;
  margin-bottom: 3%;
 }

 .ltGreenBox {
  width:45%;
  height:250px;
  margin-bottom: 3%;
 }

 .ltOrangeBox {
  width:45%;
  height:250px;
  margin-bottom: 3%;
 }


 
 .popUpLeft {
  display:none;
     
}

.popUpLeft img {
  width:100%;
  margin-top: 5px;
}

.popUpRight {
  width:100%;
  margin:5px auto;
  
  
}
.popUpTitle {
  font-size:20px;
  line-height:15px;
  margin-bottom:5px;
}


.popUpTech {
  font-size:15px;
  font-weight:200;
  letter-spacing:1px;
  padding:2px;
  background-color:#EEEFE5;
  margin-bottom:5px;
  text-align:center;
}

.popUpBtn {
  margin-top: -235px;
  padding:5px 5% 5px 5%;
  float:left;
  margin: -5px 5%;
  width:40%;
}

}

@media screen and (max-width: 580px){
  
  .app-description{
   display: none;
  }

  #inline_content {
   
  background:#fff;
  font-size:10px;
  color:gray;
  font-weight:50;
  letter-spacing:0px;
  padding:2px 10px 0px 10px;
  line-height:15px;
  
}
}



@media screen and (max-width: 470px){

.yellowBox {
  width:100%;
  margin: 0 auto 3% auto;
  height:250px;
  
 }

 .ltGreenBox {
  width:100%;
  margin: 0 auto 3% auto;
  height:250px;
  
 }

 .ltOrangeBox {
  width:100%;
  margin: 0 auto 3% auto;
  height:250px;
  
 }
}























