.passage-block{

  margin-top: 200px;
  margin-bottom: 0;
  padding: 30px;
  border: 1px solid black;
}

.description-block {

  color: black;
  padding: 15px;
  background-color: white;
  width: 20%;
  height-min: 200px;
  margin-left: 170px;
  margin-top: -50px;
  border: 1px solid coral;
  border-radius:5%;

}
.projects {

}
.project-block{

  margin: 150px auto;
  padding: 100px 10px;
  display: relative;
}


.buttons {
  margin-left: 60px;
}
.buttons button{
  margin: 10px;

  padding: 5px 10px;
  border-bottom-right-radius: 20%;
}

.showPic{
  width:50%;
  float: right;

  margin-right:10px;
  margin-top: -240px;
}
.space{
  width: 100%;
  padding-bottom: 500px;
}

.view-more{
  text-align: center;
}

img{
  z-index: -1;
}
