.talkbox {
  width:80%;
  padding: 150px;
  margin: 30px;

}

.talk-left {
  float: left;
  color:red;
  width: 75%;
  font-size: 24px;
  padding: 10px,15px;
  margin: 40px,115px;
}

.talk-right {
  float: right;
  color:blue;
  width: 75%;
  font-size: 24px;
  padding: 10px,15px;
  margin: 40px,15px;
}
