/*.talkbox {
  width:80%;
  padding: 150px;
  margin: 30px;

}

.talk-left {
  float: left;
  color:red;
  width: 75%;
  font-size: 24px;
  padding: 10px,15px;
  margin: 40px,115px;
}

.talk-right {
  float: right;
  color:blue;
  width: 75%;
  font-size: 24px;
  padding: 10px,15px;
  margin: 40px,15px;
}*/

.content {

  width: 70%;
  border: 1px solid black;
  margin:50px auto 20px auto;

}

.title {
  margin-top:100px;
  margin-bottom:0;
  padding: 10px;
  font-size:2em;
}

.left-conv{

  float: left;
  margin-bottom: 20px;


}




.right-conv{
  float:right;
  margin-bottom: 20px;
  text-align: right;
  cursor: pointer;

}
.clear-fix{
  clear:both;
}

.clickHere{
  margin-top:-70px;
  margin-left: 1000px;

}
