.aboutMeContainer{
  width: 80%;
  margin:0 auto;
}
.content {
  width: 100%;
  height:500px;
  border: 1px solid black;
  margin:50px auto 20px auto;
  padding: 10px;
}

.aboutMeOpen {
  margin-top:30px;
  margin-bottom:0;
  padding: 10px;
  font-size:1.5em;
}

.left-conv{
  float: left;
  margin-bottom: 20px;
}

.right-conv{
  float:right;  
  margin-bottom: 20px;
  text-align: right;
  cursor: pointer;

}
.clear-fix{
  clear:both;
}

.clickHere{
  margin-top:-70px;
  float:right;
}













