*{
  margin:0;
  padding: 0;
}
.passage-block {
  width: 600px;

  margin: 20px auto;
}
.self-description {
  padding: 90px 20px;
  margin-top: 0;
  background-color: green;
}
.self-description p {
  width: 80%;
  text-align: center;
  margin: auto;
}
.skills{
  display: flex;
}
.skill-box{
  width: 20%;
  border: 1px solid black;
  padding: 30px;


}
.skill-circle{
  background-color:white;
  margin: -80px auto;
  /*margin-top:-80px;
  margin-left: 10px;*/
  width:130px;
  height: 130px;
 border: 1px solid black;
 color: blue;
 border-radius: 50%;

}
img {
  width: 100%;
  margin: auto;
}

.seperate{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background: blue;
  width: 100px;
  height: 2px;
}

.skill-title{
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.skill-detail{
  text-align: center;
  font-size: 20px;


}
