*{
  margin:0;
  padding: 0;
}

/*.line-1 {
  color: White; 
  
  font-size: 60px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

.line-1:nth-child(2){
  animation: type2 8s steps(60, end);
}*/



/*span{
  animation: blink 1s infinite;
}*/

/*@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}*/
.homecontainer{
  width: 80%;
  margin:0 auto;
}
.passage-block {
  width: 600px;

  margin: 20px auto;
}
.self-description {
  padding: 90px 20px;
  margin-top: 0;
  background-color:#DD5444;
}
.self-description p {
  width: 80%;
  text-align: center;
  margin: auto;
}
.skills{
  display: flex;
}
.skill-box{
  display:block;
  width:100%;
  border: 1px solid black;
  padding: 30px;
  background:  beige;
  color: gray;


}

.skill-circle{
  background-color: beige;
  margin: -80px auto;
  /*margin-top:-80px;
  margin-left: 10px;*/
  width:130px;
  height: 130px;
 /*border: 1px solid black;*/
 color: #DD5444;
 border-radius: 50%;
 text-align: center;

}

.icon{
  background: beige;
  margin: 25px 0;

}
.seperate{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background: #DD5444;
  width: 20%;
  height: 2px;
}

.skill-title{
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.skill-detail{
  text-align: center;
  font-size: 20px;

}
