.buttons {
  margin-top: 80px;
}

.contactBkg {
  width:100%;
  background-image:url(../../assets/bkg.png);
  background-position:top center;
  background-size: cover;
  color: #ffffff;
  height: 700px;
  margin: 0px 0px 0px 0px;
  padding: 70px 0 0 0;
  text-align: center;

}
.contactWrapper {
  width:94%;
  max-width:710px;
  margin:0px auto;
  text-align:center;
  font-size:18px;
  line-height:27px;
  padding:100px 0px 0px 0px;
}

.contactWrapper h2{
  
  font-size:86px;
  line-height:100px;
  color:#FFFFFF;
  
}


.submitBtn {
  width:100%;
  background-color:#d76713;
  height:120px;
  font-size:53px;
  
  color:#e6e8bf;
  opacity: 1.0;
    filter: alpha(opacity=100);
  -moz-border-radius: 5px;
  border-radius: 5px;
   -webkit-appearance: none;
}
.submitBtn:hover {
  background-color:#813107;
  cursor:pointer;
  opacity: 1.0;
    filter: alpha(opacity=100);
}

.submitBtnNew {
  padding:25px 0px 25px 0px;
  background-color:#d76713;
  height:auto;
  font-size:50px;
  line-height:50px;
 
  color:#e6e8bf;
  -moz-border-radius: 15px;
  border-radius: 15px;
   -webkit-appearance: none;
  width:90%;
  margin:0px 5% 0px 5%;
}
.submitBtnNew:hover {
  background-color:#813107;
  cursor:pointer;
}

.submitBtnBkg {
  width:100%;
  margin:0px auto;
  max-width:460px;
}
.submitBtnBkg a:link {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:visited {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:hover {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:active {color: #e6e8bf; text-decoration:none;}

@media screen and (max-width: 750px){

.contactWrapper h2{ 
  font-size:50px; 
}


  .submitBtnNew {
  padding:5px 0;
  height:auto;
  font-size:25px;
  width:75%;
  margin:0 auto;
}

.buttons {
  margin-top: 40px;
}

.contactBkg {
  height: 500px;
  padding: 10px 0 0 0;
 
}

}