.accountingContainer {
  background-image: url('../../../assets/leaf.png');
  background-size:70%;
  
  background-repeat: no-repeat;
  background-position: center;
  

}
.accountingTitle {

  margin-top: 40px;
  text-align: center;
  font-size:34px;
  padding-top: 20px;
  color: #956a39;

}
.accountingArticle {

  width:80%;
  margin:auto;
  text-align: justify;
  padding:15px;
  margin-bottom: 10px;
}
