
.entrepreneurContainer {
  width: 100%;
  font-family: "Lora",serif;
  color:white;
  
  background-size:50%;
  background-repeat: no-repeat;
   
  background-position: center;
}
.entrepreneurTitle{
	color: #373F27;
	font-size: 40px;
	line-height: 45px;
	margin-left: 2%;
	margin-bottom: 5%;
    text-shadow: 4px 4px 4px #FFF;
}

img {
	width: 100%;
	border-radius: 15px;
	border: 3px solid white;
}
.img-part {
	width: 30%;
	float:left;
	margin-left: 3%;
}

.article-part {
	width: 60%;
	float: right;
	margin-right: 3%;
}

.article-part p {
	color: #636B46;
	margin-bottom: 5%;
	font-size: 23px;
}

.last-paragraph {
	margin-bottom: 0;
}

@media screen and (max-width: 830px){

 .entrepreneurTitle{
 	font-size: 34px;
	margin-left: 2%;
	margin-bottom: 3%;
  }
  .img-part {
  	display: absolute;
  	margin-left: 10%;
	width: 80%;

}

.article-part {
	width: 90%;
	text-align: left;
	margin-right:5% ;
}

}


@media screen and (max-width: 480px){

 .entrepreneurTitle{
 	font-size: 25px;
 	line-height: 25px;
	margin-bottom: 5%;
  }


.article-part p{
	font-size: 16px;
	width: 100%;
	text-align: left;
	margin-right:5% ;
}

}

/*img {
	width: 100%;
	border-radius: 15px;
}

.entrepreneur-img-1 {
	width: 30%;
	float:left;
	margin-left: 3%;
}

.entrepreneur-img-2 {
	width: 30%;
	float: right;
	margin-right: 3%;
}
.entrepreneurArticle-1{
	width: 60%;
	float: right;
	margin-right: 3%;
}
.entrepreneurArticle-2{
	width: 60%;
	float: left;
	margin-left: 3%;
}*/