.photoContainer{
  background-color: #eeeeee;
  width: 100%;

}
.photoTitle {
  color: #775c8f;
  font-size: 45px;
  margin-top: 5px;
  text-shadow: 4px 4px 4px #fff;
  
}
.photoArticle {
  display:block;
  width:80%;
  margin-bottom: 10px;
  font-size: 20px;  
  color: #775c8f;
}

@media screen and (max-width: 480px){
  .photoTitle {
  
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;  
  
}
.photoArticle {
  display:block;
  width:95%;
  margin-bottom: 10px;
  font-size: 20px;  
 
}
}
