.travelContainer{
  background-color: #DD5444;
}

.travelTitle{
  margin-top: 5px;
  text-align: center;
 
}

.travelMap {
  display: block;
  margin: auto;
  width:60%;
  float:left;
  
  border-radius: 10px;
  border: 5px solid orange;

}
.travelArticle-part {
  width:35%;
  float: right; 
  
}
.travelArticle {
  display:block;
  
  text-align:justify;
  
}


