
.navbar {
  position: fixed;
  top:0;
  width:100%;

  padding: 20px;
}

.navbar ul{

  list-style: none;
  text-align: right;
  padding: 20px ;
}
.navbar li {
  display: inline;

}

.navbar a {
  text-decoration: none;
  color: #626B6A;
  padding: 10px 10px;

  cursor: pointer;

}
.navbar a:hover{
  color: white;
  background-color: #6FA8A7;
  transform: scale(1.2,1.2);
  border-radius: 5%;



}
