@import '~antd/dist/antd.css';
*{
  margin: 0;
  padding: 0;
}
body {
 
  font-family: 'VT323', cursive, sans-serif;
  font-size: 24px;
  background-color: #ADD3D3;
  color: white;

}

h2{
	font-size: 250%;
	font-weight:700;
	text-align: center;

}

h3{
	font-size: 170%;
	line-height: 155%;
	font-weight: 400;

}

p{
	font-size: 110%;
	line-height: 110%;
}